.header {
    border: 1px solid #F4F4F4;
}

.header__inner {
    max-width: 1230px;
    padding: 10px 20px;
}

.header__logo {
    color: #F5C800;
    font-style: italic;
    font-family: jsmath-cmti10;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}